@font-face 
{
    font-family: 'acmeregular';
    src: url('fonts/Acme-Regular-webfont.eot');
    src: url('fonts/Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Acme-Regular-webfont.woff2') format('woff2'),
         url('fonts/Acme-Regular-webfont.woff') format('woff'),
         url('fonts/Acme-Regular-webfont.ttf') format('truetype'),
         url('fonts/Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	background-color: #313131;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.centre
{
	text-align: center;
}
.vw10
{
	font-size: 7vw;
}
.bandehaut
{
	top: 0;
	margin-left: 11.4vw;
	width: 74.5vw;
	height: 5.5vw;
	margin-top: 0%;
	background-color: #4d4d4d;
	position: absolute;
	border-bottom-left-radius: 1%;
	border-bottom-right-radius: 1%;
}
.police1
{
	font-family: acmeregular;
}
.ombre
{
	text-shadow: 0 0 3px black, 0 0 3px black;
}
.ombre1
{
	text-shadow: 0 0 3px black, 0 0 3px black;
}
.vw2
{
	font-size: 2vw;
}
.sizebarre
{
	width: 17.5vw;
	font-size: 1.5vw;
}
nav ul 
{
	list-style-type: none;
}
nav ul li
{
	font-size: 1.5vw;
	margin-left: -2.1vw;
}
.z1
{
	z-index: 1;
	position: absolute;
}
nav
{
	z-index: 2;
	position: relative;
	margin-top: 5vw;
}
.aligntitre
{	
	margin-left: 1%;
}
.flex
{
	display: flex;
}
nav ul li a 
{
	text-decoration: none;
}
.anoneh1
{
	text-decoration: none;
	color: #999999;
}
a
{
	color: black;
}
.auto
{
	margin-left: 40%;
}
.btnlog
{
	border: 1px solid white;
	background-color: white;
	border-radius: 10%;
	height: 1vw;

}
.anone
{
	text-decoration: none;
}
.vw1dot3
{
	font-size: 1.3vw;
}
.marginflex
{
	margin-left: 3%;
}
.marginlog
{
	margin-left: 3%;
}
.marginerreur
{
	margin-left: 15%;
}
.top
{
	margin-left: 50%;
}
.blocdumilieu
{
	border: 1px solid black;
	width: 74.4vw;
	height: 42.9vw;
	margin-left: 11.5vw;
}
.space
{
	margin-left: 0.5vw;
}
.em
{
	font-size: 2vw;
}
.em1
{
	font-size: 1vw;
}
.separation
{
	margin-top: 6vw;
}
.accueilspace
{
	margin-left: 5vw;	
}
.h1
{
	font-size: 2vw;
}
.space1
{
	margin-left: 5vw;
}
.blanc
{
	color: white;
}
a:hover
{
	color: #d9d9d9;
}
h1 a:hover
{
	color: #d8e6f3;
}
.space2
{
	margin-left: 2vw;
}
.menu3
{
	margin-top: 1.8vw;
}
.menu
{
	margin-top: 2vw;
}
.menu1
{
	margin-top: 1.45vw;
}
.blue
{
	color: #bfbfbf;
}
.espace
{
	margin-left: 25vw;
	margin-top: 2.5%;
}
.noir
{
	color: black;
}
.blocprofil
{
	border: 1px solid black;
	width: 50vw;
	height: 10vw;
	background-color: #4d4d4d;
	border-radius: 1%;
}
@media screen and (max-width: 800px)
{
	.blocprofil
	{
		width: 55vw;
		height: 15vw;
	}
	.bandehaut
	{
		width: 78vw;
	}
}
div img:hover
{
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.btnmodifier
{
	border: 1px solid black;
	padding: 0.3vw;
	background-color: #313131;
	border-radius: 5%;
}
.btnmodifier:hover
{
	background-color: #1a1a1a;
}