@font-face
{
    font-family: 'acmeregular';
    src: url('fonts/Acme-Regular-webfont.eot');
    src: url('fonts/Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Acme-Regular-webfont.woff2') format('woff2'),
         url('fonts/Acme-Regular-webfont.woff') format('woff'),
         url('fonts/Acme-Regular-webfont.ttf') format('truetype'),
         url('fonts/Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	background: url(images/t2c.png) fixed;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.centre
{
	text-align: center;
}
.vw10
{
	font-size: 7vw;
}
.bandegauche
{
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 15%;
	border: 3px solid #666666;
	background-color: grey;
	position: absolute;
}
.police1
{
	font-family: acmeregular;
}
.bleuclair
{
	color: #66ccff;
}
.bleufonce
{
	color: #0088cc;
}
.ombre
{
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.vw2
{
	font-size: 2vw;
}
.sizebarre
{
	width: 17.5vw;
	font-size: 1.5vw;
}
nav ul
{
	list-style-type: none;
}
nav ul li
{
	font-size: 1.5vw;
	margin-left: -2.1vw;
}
.z1
{
	z-index: 1;
	position: absolute;
}
nav
{
	z-index: 2;
	position: relative;
	margin-top: 5vw;
}
.aligntitre
{
	margin: auto;
}
.flex
{
	display: flex;
}
nav ul li a
{
	text-decoration: none;
}
.anoneh1
{
	text-decoration: none;
	color: #0088cc;
}
a
{
	color: black;
}
.auto
{
	margin-left: 40%;
}
.btnlog
{
	border: 1px solid white;
	background-color: white;
	border-radius: 10%;
	padding: 2%;
}
.anone
{
	text-decoration: none;
}
.vw1dot3
{
	font-size: 1.3vw;
}
.marginflex
{
	margin-left: 3%;
}
.marginlog
{
	margin-left: 3%;
}
.marginerreur
{
	margin-left: 15%;
}





//je vais mettre mes changements ici pour pas comfondre (MathsVeille)


.accueil
{
	font-size: 1.7em;
}
.discussion
{
  font-size: 1.7em;
}

.accueil:hover
{
	color: #FFDC00;
}
.discussion:hover
{
	color: #FFDC00;
}
.rechercher
{
  margin-top: -3%;
}
